<!DOCTYPE html>
<html lang="zh">
<meta name="viewport" content="width=device-width,initial-scale=1" />
<head>
  <meta charset="UTF-8">
  <title>登录</title>
  <link rel="stylesheet" href="../static/css/window.css">
</head>
<body>
<form class="box" action="../login/check" method="get">
  <h1>登录</h1>
  <input type="text" name="id" placeholder="账号">
  <input type="password" name="password" placeholder="密码">
  <input type="submit"  value="登录">
</form>
<form  action="../register/register" method="get">
  <input type="submit" value="没有账号？">
</form>
</body>
</html>

