<!DOCTYPE html>
<html lang="zh">
<meta name="viewport" content="width=device-width,initial-scale=1" />
<head>
  <meta charset="UTF-8">
  <title>注册</title>
  <link rel="stylesheet" href="../static/css/window.css">
</head>
<body>
<form class="box" action="../register/do" method="get">
  <h1>注册</h1>
  <input type="text" name="id" placeholder="新的账号">
  <input type="text" name="password" placeholder="新的密码">
  <input type="text" name="name" placeholder="账户昵称">
  <input type="submit"  value="注册">
</form>
</body>
</html>